# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Ambiente virtual
# =========================
venv/
.env/

# =========================
# Variáveis sensíveis
# =========================
back/.env

# =========================
# Banco SQLite
# =========================
*.db
*.sqlite3

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# Sistema
# =========================
.DS_Store
Thumbs.db